{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="{% get_static_prefix %}css/main.css">
        <link type="text/css" href="{% get_static_prefix %}css/start/jquery-ui-1.8.24.custom.css" rel="stylesheet" />    
        
        <script type="text/javascript" src="{% get_static_prefix %}flot/jquery.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-ui-1.8.24.custom.min.js"></script>        
        <script type="text/javascript" src="{% get_static_prefix %}flot/jquery.flot.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}flot/jquery.flot.time.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}flot/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/chart.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/common.js"></script>
        <title>RLog</title>
	</head>
	<body>
	    <div id="menu">
	        <div class="menuitem"><a href="{% url charts.views.live %}">Live</a></div>
            <div class="menuitem"><a href="{% url charts.views.stats %}">Statistik</a></div>
            <div class="menuitem"><a href="{% url admin:index %}">Konfiguration</a></div>
	    </div>
	    <div id="wrapper">
            {% block content %}
            {% endblock %}
        </div>
        {{ log|safe }}
	</body>
</html>