{% extends "charts/newframe.html" %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
	autoUpdateInitial(15);
  window.setTimeout(autoUpdate, 5000);
});
</script>
<form method="POST" class="form-horizontal" action="">
  <div class="well stats_form">
  {% csrf_token %}
	<select name="live_timeframe" id="live_timeframe" 
  onchange="autoUpdateInitial(this.options[this.selectedIndex].value)" class="selectpicker">
      <option value="5">5 Minutes</option>
      <option selected=selected value="15">15 Minutes</option>
      <option value="30">30 Minutes</option>
      <option value="60">1 Hour</option>
      <option value="1440">Heute</option>
    </select>
  </div>
</form>
<div id="livechart" class="chart"></div>
<ul id="crosshairdata"></ul>
{% endblock %}
