{% extends "charts/newframe.html" %}

{% load static %}

{% block scripts %}
<script type="text/javascript" src="{% get_static_prefix %}js/paho.js"></script>
<script src="https://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/OpenLayers.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/map.js"></script>
{% endblock scripts %}
    
    
{% block content %}
<div id="mapContainer" class="container">
    <h2>All RLogs in the world</h2>
    <div id="mapDiv" class="map"></div>
</div>
{% endblock content%}
