{% extends "charts/newframe.html" %}
{% block content %}

<script type="text/javascript">
function export_image()
{
    // save canvas image as data url (png format by default)
    var dataURL = $('.flot-base')[0].toDataURL();

    // set canvasImg image src to dataURL
    // so it can be saved as an image
    document.getElementById('canvasImg').src = dataURL;
}

$(document).ready(function() {
    addPlot({{ timeseries|safe }});
    applySettings({{ plotsettings|safe }});
    plot = $.plot($(".chart")[0], data, options);
		dataset = plot.getData();		
    for(i = 0; i < dataset.length; i++){
		  $("#crosshairdata").append('<li style="color:' + dataset[i].color + '">Test</li>');
		}
	  $(".chart").bind("plothover",  function (event, pos, item) {
	    latestPosition = pos;
      if(new Date().getTime() - last_time_rendered > 77)
        updateLegend();
    });
});
</script>

<form class="form-inline" method="POST" action="">
    {% csrf_token %}    
    <div class="well">
        {{ form }} <input type="submit" class="btn" value="Berechnen"/>
        <div id="custom_date_area" style="display:none">
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Start date<a href="#" class="btn small" id="dp4" data-date-format="yyyy-mm-dd" data-date="2012-02-20">Change</a></th>
                        <th>End date<a href="#" class="btn small" id="dp5" data-date-format="yyyy-mm-dd" data-date="2012-02-25">Change</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="startDate">2012-02-20</td>
                        <td id="endDate">2012-02-25</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<h2 class="center">{{ hd }}</h2>

<div id="statschart" class="chart"></div>
<ul id="crosshairdata"></ul>

<!--<img id="canvasImg" alt="Right click to save me!">-->
<div id="stat_table">
    {{ stats|safe }}
</div>
{% endblock %}
