{% extends "charts/newframe.html" %}
{% block content %}

<script type="text/javascript">
function export_image()
{
    // save canvas image as data url (png format by default)
    var dataURL = $('.flot-base')[0].toDataURL();

    // set canvasImg image src to dataURL
    // so it can be saved as an image
    document.getElementById('canvasImg').src = dataURL;
}

$(document).ready(function() {
    check_custom_timeframe(0, "{{ period }}");
    addPlot({{ timeseries|safe }});
    applySettings({{ plotsettings|safe }});
    plot = $.plot($(".chart")[0], data, options);
	$(".chart").bind("plothover",  function (event, pos, item) {
	    latestPosition = pos;
        if(new Date().getTime() - last_time_rendered > 77)
            updateLegend();
    });
    $(".chart").bind("plotselected", function (event, ranges) {
        console.log("hier");
        plot = $.plot($(".chart")[0], data,
            $.extend(true, {}, options, {
                xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
            }));
       });

    $(".chart").bind("plotunselected", function (event) {
        console.log("da");
        plot = $.plot($(".chart")[0], data, original_options);
    });
    $('.chart').append('<img src="/static/img/ajax-loader.gif" alt="loading ..." class="loadingGIF" style="display: none;">');
    window.onbeforeunload = function () { $('.loadingGIF')[0].style.display = "block"; };
});

$(window).unload( function () { $('.chart').append('<img src="/static/img/ajax-loader.gif" alt="loading ..." class="loadingGIF">'); } );
</script>

{% if preselect_period %}
<script type="text/javascript">
$(document).ready(function() {
    check_custom_timeframe(1, 0);
});
</script>
{% endif %}

<form class="form-horizontal" method="POST" action="">
    <div class="well stats_form">
        {% csrf_token %}    
        <div class="control-group">
            <label class="control-label" for="id_timeframe">{{ regular_form.timeframe.label }}</label>
            <div class="controls">
                {{ regular_form.timeframe }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_period">{{ regular_form.period.label }}</label>
            <div class="controls">
                {{ regular_form.period }}
            </div>
        </div>
        <div class="control-group custom_date_area">
            <label class="control-label" for="id_startfrom">{{ custom_form.startfrom.label }}</label>
            <div class="controls">
                {{ custom_form.startfrom }}
            </div>
        </div>
        <div class="control-group custom_date_area">
            <label class="control-label" for="id_endby">{{ custom_form.endby.label }}</label>
            <div class="controls">
                {{ custom_form.endby }}
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" name="regular_stats_form" class="btn" value="Berechnen"/>
            </div>
        </div>
    </div>
</form>

{% if timeframe != "timeframe_cus" or ui_begin %}
<hr>
<h2 class="center" style="float:left;">{{ ui_begin }}</h2>
<h2 class="center" style="float:right;">{{ ui_end }}</h2>
<div style="clear:both;"></div>
<hr>

<div id="statschart" class="chart"></div>
<ul id="crosshairdata"></ul>

<div id="stat_table">
    <table class="table table-striped">
        {% for item in stat_items %}
        <tr>
            <td><strong>{{item.label}}</strong></td>
            <td>{{item.value}}</td>
        </tr>
        {% endfor %}
    </table>
    {{ stats|safe }}
</div>
{% endif %}

{% endblock %}
